*{
    box-sizing: border-box;
}

:root{
    --color-primary: #2584ff;
    --color-secondary: #00d9ff; 
    --color-accent: #ff3400;
    --color-headings: #210e6b;
    --color-body: #918ca4;
}

html{
    font-size: 62.5%;
}

body{
    color: var(--color-body);
    font-size: 2.4rem;
    font-family: Inter, Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

/* Headings */

h1,
h2,
h3{
    color: var(--color-headings);
    margin-bottom: 1rem;
}

h1{
    font-size: 7rem !important;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3rem;
}

p{
    margin-top: 0;
}

/* Media Query */
@media screen and (min-width: 1024px) {
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 2.4rem;
    }

    body{
        font-size: 1.8rem;
    }
}

/* Links */

a{
    text-decoration: none;
}

.link-arrow{
    font-size: 2rem;
    color: var(--color-accent);
    text-transform: uppercase;
    font-weight: bold;
}

.link-arrow::after{
    content: '-->';
    margin-left: 5px;
    transition: margin 1s;
}

.link-arrow:hover::after{
    margin-left: 10px;
}

@media screen and (min-width: 1024px){
    .link-arrow{
        font-size: 1.5rem;
    }
}
/* Badges */

.badge{
    border-radius: 20px;
    padding: 0.5rem 2rem;
    font-weight: 600;
    font-size: 2rem;
    white-space: nowrap;
}

.badge--primary{
    background-color: var(--color-primary);
    color: #fff;
}

.badge--secondary{
    background-color: var(--color-secondary);
    color: #fff;
}

.badge--small{
    font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
    .badge{
        font-size:1.5rem;
    }

    .badge--small{
        font-size: 1.2rem;
    }
}

/* List */

.list{
    list-style: none;
    padding-left: 0;
    color: var(--color-headings);
}

.list-inline .list__items{
    display: inline-block;
    margin-left: 3rem;
    font-size: 2rem;
    font-weight: bold;
}

.list-tick{
    padding-left: 3rem;
    list-style: url(../images/tick.svg);
    font-size:2.4rem;
    font-weight: normal;
}

.list-tick .list__items{
    padding-left: 1rem;
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 1024px) {
    .list-tick .list__items{
        padding-left: 0;
        font-size: 1.8rem;
    }

    .list-inline .list__items{
        font-size: 1.5rem;
    }
}

/* Icon */

.icon{
    width: 40px;
    height: 40px;
}

.icon--primary{
    fill: var(--color-primary);
}

.icon-container{
    background: #f3f9fa;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* Buttons */

.btn{
    font-size: 1.8rem;
    padding: 2rem 3rem;
    margin: 1rem 0;
    cursor: pointer;
    border: 0;
    font-weight: 600;
    border-radius: 40px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.btn-primary{
    background: var(--color-primary);
    color: #fff;
}

.btn-primary:hover{
    background: #358bfb;
}


.btn-secondary{
    background: var(--color-secondary);
    color: #fff;
}

.btn-secondary:hover{
    background: #30dcfa;

}
.btn-accent{
    background: var(--color-accent);
    color: #fff;
}

.btn-accent:hover{
    background: #fe491b;
}

.btn-block{
    display: inline-block;
    width: 100%;
}

.btn-outline{
    background: #fff;
    color: var(--color-headings);
    border: 2px solid var(--color-headings);
}

.btn-outline:hover{
    color: #fff;
    background: var(--color-headings);
    border: 0;
}

@media screen and (min-width: 1024px) {
    .btn{
        font-size: 1.5rem;
    }
}
