<blockquote class="quote">
    <p class="quote__text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum cum autem ipsum, provident magni distinctio illum eaque. Ipsam, dolor sunt?
    </p>
  
    <footer>
      <div class="media">
        <div class="media__image">
          <svg class="icon quote__icon" >
            <use xlink:href="images/sprite.svg#line"></use>
          </svg>
        </div>
        
        <div class="quote__body">
          <h3 class=" quote__author">Jhone Lumeo</h3>
          <p class="quote__organization">Musteqeem Company</p>
        </div>
      </div>
    </footer>
  </blockquote>